<template>
  <div class="modal" :class="{ 'is-active': visible }">
    <div class="modal-background" @click="close"></div>
    <div class="modal-content">
      <slot></slot>
    </div>
    <button v-if="closeable" class="modal-close is-large" aria-label="close" @click="close"></button>
  </div>
</template>

<script>
export default {
  name: 'modal',
  props: {
    visible: {
      type: Boolean,
      default: () => false
    },
    closeable: {
      type: Boolean,
      default: () => true
    }
  },
  methods: {
    close () {
      if (this.closeable) {
        this.$emit('modal-close')
      }
    }
  }
}
</script>
