<template>
<Modal :visible="visible" @modal-close="close">
  <div class="box">
    <h4 class="title is-4">Add participant:</h4>
    <form @submit.prevent="handleAddParticipant(participant)">
      <p>New participants will be added at the end of the current list.</p>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input type="text" v-model="participant.name" ref="participant_name" class="input" placeholder="Type a user name">
        </div>
        <div class="control">
          <button class="button is-primary" type="submit" :disabled="!participantIsValid">Add {{ participant.name }} to the list</button>
        </div>
      </div>
    </form>
  </div>
</Modal>
</template>

<script>
import Modal from './bulma/Modal.vue'

export default {
  name: 'AddParticipantModal',
  components: {
    Modal
  },
  props: {
    visible: {
      type: Boolean,
      default: () => true
    }
  },
  data () {
    return {
      participant: {
        name: '',
        time: 0,
        speaking: false
      }
    }
  },
  computed: {
    participantIsValid () {
      return this.participant.name.length > 0
    }
  },
  methods: {
    handleAddParticipant (participant) {
      this.$emit('add-participant', participant)
    },
    close () {
      this.$emit('modal-close')
    }
  },
  mounted () {
    this.$refs.participant_name.focus()
  }
}
</script>
