<template>
  <div class="column is-12">
    <div class="box is-draggable" :title="'Speak time : '+parseTime(participant.time)">
      <div class="level is-mobile">
        <div class="level-left">
          <div>
            <p>
              <span class="has-text-weight-bold">{{ participant.name }}</span>
            </p>
            <p v-if="participant.speaking" class="is-italic">{{ parseTime(participant.time) }}</p>
          </div>
        </div>
        <div class="level-right">
          <slot :participant="participant"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import formatTimeMixin from '@/mixins/formatTimeMixin.js'

export default {
  name: 'ParticipantList',
  props: {
    participant: {
      type: Object,
      required: true
    }
  },
  mixins: [
    formatTimeMixin
  ]
}
</script>

<style scoped>
.box {
  padding: .70rem;
}
</style>
