<template>
<div class="participant-list">
  <h4 class="title">Participants: </h4>
  <div class="columns">
    <div class="column is-12">
      <slot name="menu-top-actions"></slot>
    </div>
  </div>
  <template v-if="participants.length > 0">
      <ParticipantListItem v-for="participant in participants" :key="participant.name" :participant="participant">
        <span class="tags has-addons is-medium">
          <a class="tag is-dark is-medium" :class="{'is-dark': !participant.speaking, 'is-info': participant.speaking }" @click="setSpeaker(participant)">
            <span class="icon"><i class="fas fa-comment"></i></span>
          </a>
          <a class="tag is-delete is-medium" title="Remove participant" @click="removeParticipant(participant)"></a>
        </span>
      </ParticipantListItem>
  </template>
  <template v-else>
    <p class="content is-italic">You didn't added anyone to the list ! Start by adding your colleagues</p>
  </template>
  <div class="columns">
    <div class="column is-12">
      <slot name="menu-bottom-actions"></slot>
    </div>
  </div>
</div>
</template>

<script>
import ParticipantListItem from './ParticipantListItem.vue'
import { createNamespacedHelpers } from 'vuex'

const { mapState, mapMutations, mapActions } = createNamespacedHelpers('participants')

export default {
  name: 'ParticipantList',
  components: {
    ParticipantListItem
  },
  computed: {
    ...mapState([
      'participants'
    ])
  },
  methods: {
    ...mapMutations([
      'addParticipant',
      'setSpeaker'
    ]),
    ...mapActions([
      'getLocalParticipants',
      'setLocalParticipants',
      'removeParticipant'
    ])
  },
  mounted () {
    this.getLocalParticipants()
  }
}
</script>
