<template>
  <Modal :visible="visible" :closeable=false>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Well done !</p>
      </header>
      <section class="modal-card-body">
        <div class="columns is-desktop">
          <div class="column">
            <p class="content">Here are some stats about what you've done :</p>
          </div>
          <div class="column">
            <MeetingParticipationPieChart v-if="latestMeeting !== null" :chartData="normalizedData" :options="normalizedOptions" :height="250" />
          </div>
        </div>

        <p class="content is-italic">
          Thanks for using Tic Track ! Stay tuned for more features.
        </p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="handleReset">Reset</button>
      </footer>
    </div>
  </Modal>
</template>

<script>
import Modal from './bulma/Modal.vue'
import MeetingParticipationPieChart from './charts/MeetingParticipationPieChart.vue'
import formatTimeMixin from '@/mixins/formatTimeMixin.js'
import { createNamespacedHelpers } from 'vuex'

const { mapMutations } = createNamespacedHelpers('participants')
const { mapGetters: mapMeetingsGetters } = createNamespacedHelpers('meetings')

export default {
  name: 'StatsModal',
  components: {
    Modal,
    MeetingParticipationPieChart
  },
  mixins: [
    formatTimeMixin
  ],
  props: {
    visible: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    ...mapMeetingsGetters([
      'latestMeeting'
    ]),
    normalizedData () {
      return {
        labels: this.latestMeeting.participants.map(participant => participant.name),
        datasets: [
          {
            data: this.latestMeeting.participants.map(p => p.time),
            backgroundColor: this.latestMeeting.participants.map(p => `#${Math.floor(Math.random() * 16777215).toString(16)}`)
          }
        ]
      }
    },
    normalizedOptions () {
      return {
        responsive: false,
        maintainAspectRatio: false,
        tooltips: {
          callbacks: {
            label: (tooltipItem, data) => `${data.labels[tooltipItem.index]}: ${this.parseTime(data.datasets[0].data[tooltipItem.index])}`
          }
        }
      }
    }
  },
  methods: {
    ...mapMutations([
      'resetTime'
    ]),
    close () {
      this.$emit('modal-close')
    },
    handleReset () {
      this.resetTime()
      this.close()
    }
  }
}
</script>
