<template>
  <div class="columns is-desktop is-multiline timer">
    <div class="column is-12">
    <form @submit.prevent="start">
      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button type="submit" class="button is-primary is-large" :disabled=disabled v-if="!running"><template v-if="isPaused">Resume</template><template v-else>Start</template></button>
        </div>
        <div class="control">
          <button type="button" class="button is-info is-large" v-if="running" @click="pause">Pause</button>
        </div>
        <div class="control">
          <button type="button" class="button is-danger is-large" v-if="running || isPaused" @click="stop">Stop</button>
        </div>
      </div>
    </form>
    </div>
    <div class="column is-12">
      <div class="box" v-if="running || isPaused">
        <h3 class="is-3 subtitle">{{ parseTime(elapsedTime) }}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import formatTimeMixin from '@/mixins/formatTimeMixin.js'

export default {
  name: 'timer',
  mixins: [
    formatTimeMixin
  ],
  props: {
    disabled: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    isPaused () {
      return this.elapsedTime > 0 && this.running === false
    }
  },
  data () {
    return {
      interval: null,
      running: false,
      elapsedTime: 0
    }
  },
  methods: {
    start () {
      this.running = true
      const evt = this.isPaused ? 'resume' : 'start'
      this.$emit(`timer:${evt}`)
      this.interval = setInterval(() => {
        this.elapsedTime++
        this.$emit('timer:tick', { elapsedTime: this.elapsedTime })
      }, 1000)
    },
    pause () {
      this.running = false
      clearInterval(this.interval)
    },
    stop () {
      this.running = false
      clearInterval(this.interval)
      this.$emit('timer:stop', { elapsedTime: this.elapsedTime })
      this.elapsedTime = 0
    }
  },
  beforeDestroy () {
    if (this.interval) {
      clearInterval(this.interval)
    }
  }
}
</script>
