<template>
  <div>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">Tic Track</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <StatsModal
      :visible="showStats"
      @modal-close="showStats = false" />

    <AddParticipantModal
      v-if="createParticipantModalVisible"
      @modal-close="createParticipantModalVisible = false"
      @add-participant="handleAddParticipant" />

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8">
            <h1 class="title">Tic Track</h1>
            <h2 class="subtitle">Track your team speak time at meetings</h2>
            <p class="content">Add the meeting people, the define the current speaker by clicking on the bubble icon. The current speaker is defined by the blue icon.</p>
            <p class="content">Don't forget to press the start button !</p>
            <Timer
              v-if="!showStats"
              @timer:tick="tickSpeakingParticipant"
              @timer:start="handleTimerStart"
              @timer:stop="handleTimerStop"
              class="has-text-centered"
              :disabled="participants.length === 0"
              />
          </div>
          <div class="column is-4">
            <ParticipantList>
              <template slot="menu-top-actions">
                <button class="button is-primary is-outlined is-fullwidth" @click="createParticipantModalVisible = true">Add participant</button>
              </template>
              <template slot="menu-bottom-actions">
                <button v-if="participants.length > 0" class="button is-danger is-outlined is-pulled-right" @click="clearParticipants">Clear</button>
              </template>
            </ParticipantList>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
        <strong>Tic Track</strong> by <a href="https://lab.rukien.fr" target="_blank">Julien Jean</a> | <a href="https://gitlab.com/tictrack/tictrack" target="_blank">Source code</a>
        </p>
        <p>
        More features to come ! Stats & report exports, users/topics toggle, translations, UX improvements...
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import ParticipantList from './components/ParticipantList.vue'
import Timer from './components/Timer.vue'
import AddParticipantModal from './components/AddParticipantModal.vue'
import StatsModal from './components/StatsModal.vue'
import { createNamespacedHelpers } from 'vuex'

const {
  mapState: mapParticipantsState,
  mapMutations: mapParticipantsMutations,
  mapActions: mapParticipantsActions
} = createNamespacedHelpers('participants')

export default {
  name: 'app',
  components: {
    ParticipantList,
    AddParticipantModal,
    StatsModal,
    Timer
  },
  data: () => ({
    createParticipantModalVisible: false,
    showStats: false,
    meetingStartTime: null
  }),
  computed: {
    ...mapParticipantsState([
      'participants'
    ])
  },
  methods: {
    ...mapParticipantsMutations([
      'tickSpeakingParticipant'
    ]),
    ...mapParticipantsActions([
      'addParticipant',
      'clearParticipants'
    ]),
    handleAddParticipant (newParticipant) {
      this.addParticipant(newParticipant)
      this.createParticipantModalVisible = false
    },
    handleTimerStart () {
      this.meetingStartTime = new Date()
    },
    handleTimerStop () {
      this.showStats = true

      this.$store.dispatch('meetings/save', {
        start: this.meetingStartTime,
        end: new Date(),
        participants: this.participants.map(participant => {
          return {
            name: participant.name,
            time: participant.time
          }
        })
      })
    },
    createParticipant ({ name, time, speaking }) {
      return {
        name,
        time,
        speaking
      }
    }
  },
  mounted () {
    this.$store.dispatch('meetings/loadLocalMeetings')
  }
}
</script>

<style lang="scss">
@import './styles/main.sass';
</style>
